* {
    box-sizing: border-box;
}

/* Estilo para la barra de navegación */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Estilo para los enlaces en la barra de navegación */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilo por defecto desktop first
Crea tres columnas que flotan una tras otra */
.column {
    float: left;
    width: calc((100% - 60px)/3 );
    padding: 20px;
}

/* Rompe el flujo que trae la nagegación de las columnas */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Cambia el color al pasar el puntero del mouse */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Media query para pantallas con menor y máximo ancho de 992px, pasa de 3 a 2 columnas */
@media screen and (max-width: 992px) {
    .column {
        width: calc((100% - 40px)/2 );
    }
}

/* Media query para pantallas con menor y máximo ancho de 600px */
@media screen and (max-width: 600px) {
    /* Hace apilar los enlaces uno sobre otro, en lugar de uno al lado del otro */
    .topnav a {
        float: none;
        width: 100%;
    }
    /* Hace apilar las columnas una sobre otra, en lugar de una al lado de la otra */
    .column {
        width: 100%;
    }
}