*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    list-style: none;
    /* outline: #000 1px solid; */
}


body{
    display: grid;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    grid-template-columns: repeat(3, 1fr);
}


header, footer{
    padding: 15px;
}


header{
    color: #fff;
    background: #000;
    grid-column: 1 / span 3;
}
.logo--img{
    width: 180px;
    height: 50px;
}
.nav-container{
    float: right;
}
nav div{
    display: inline-block;
}
.nav-content li{
    display: inline-block;
    padding: 15px;
}
.nav-content li:hover{
    background: #f76300;
}
.nav-content a{
    padding: 20px 5px;
    text-decoration: none;
    color: #fff;
}
.nav-content a:hover{
    color: #00f;
}
nav a span{
    padding: 20px 5px;
    color: #D35400;
    text-decoration: none;
}
nav a span:hover{
    color: #00f;
}


main{
    color: #000;
    background: radial-gradient(circle,#eee,#bbb);
    grid-row: 2 / 8;
    grid-column: 1 / span 3;
}
.proyecto-grupo{
    margin-top: 5px
}
.descripcion-grupo{
    padding:10px;
}
.descripcion-grupo p{
    font-size: 22px;
    text-align: center;
}
.descripcion-grupo b{
    font-size: 22px;
}
h1{
    text-align: center;
    color: #D35400;
    font-size: 28px;
}
.integrante-img{
    margin: 10px;
    float: left;
    width: 190px;
    height: 210px;
}
main h2{
    font-size: 25px;
}
main h3{
    font-size: 20px;
    color: #D35400;
}
.intengrantes{
    padding: 10px;
    height: 230px;
}
.info-container{
    margin: 20px 0px 0px 10px;
}
.inf-vf{
    color:#f76300;
}


footer{
    color: #fff;
    background: #000;
    grid-row: 8 / 9;
    grid-column: 1 / span 3;
}
.footer-info{
    margin: auto;
    width: 50%;
}
.footer-info li{
    font-size: 20px;
    text-align: center;
}


/*Media Query para tablet*/
@media screen and (min-width: 450px) and (max-width: 900px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: grid;
        grid-template-rows: auto 1fr 1fr 150px;
        grid-template-columns: 1fr;
    }
    header{
        color: #fff;
        background: #000;
        grid-column: 1 / span 2;
    }
        .logo--img{
            width: 180px;
            height: 50px;
        }
        
        nav{
            display: flex;
            flex-wrap: wrap;
        }
        .logo{
            margin: auto;
        }
        .nav-container{
            margin: auto;
        }
        .nav-content li{
            display: inline-block;
            background: #f88131;
        }
        .nav-content a{
            padding: 0;
            margin: auto;
            text-decoration: none;
            color: #fff;
        }
        .nav-content a:hover{
            color: #00f;
        }
        nav a span{
            color: #fff;
            text-decoration: none;
        }
        nav a span:hover{
            color: #00f;
        }
    main{
        color: #000;
        background: radial-gradient(circle,#eee,#bbb);
        grid-row: 2 / 5;
        grid-column: 1 / span 2;
    }
        .intengrantes{
            display: block;
            padding: 10px;
            height: auto;
        }
        .jennifer{
            margin-top: 60px;
            margin-bottom: 30px;
        }
        .intengrantes-comtainer{
            width: auto;
            height: auto;
        }
    footer{
        color: #fff;
        background: #000;
        grid-row: 5 / 6;
        grid-column: 1 / span 2;
    }
    footer .nav-container{
        float: none;
    }
    .footer-info{
        margin: auto;
        width: 50%;
    }
}

/*Media Query para mobile*/
@media screen and (max-width: 450px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: grid;
        grid-template-rows: auto 1fr 1fr 150px;
        grid-template-columns: 1fr;
    }
    header{
        color: #fff;
        background: #000;
        grid-column: 1 / span 2;
    }
        .logo--img{
            width: 180px;
            height: 50px;
        }
        
        nav{
            display: flex;
            flex-wrap: wrap;
        }
        .logo{
            margin: auto;
        }
        .nav-container{
            margin: auto;
        }
        .nav-content li{
            display: flex;
            width: 100%;
            margin: 5px 0;
            padding: 10px 0;
            background: #f88131;
        }
        .nav-content a{
            padding: 0;
            margin: auto;
            text-decoration: none;
            color: #fff;
        }
        .nav-content a:hover{
            color: #00f;
        }
        nav a span{
            color: #fff;
            text-decoration: none;
        }
        nav a span:hover{
            color: #00f;
        }
    main{
        color: #000;
        background: radial-gradient(circle,#eee,#bbb);
        grid-row: 2 / 5;
        grid-column: 1 / span 2;
    }
        .intengrantes{
            display: block;
            padding: 10px;
            height: auto;
        }
    footer{
        color: #fff;
        background: #000;
        grid-row: 5 / 6;
        grid-column: 1 / span 2;
    }
    footer .nav-container{
        float: none;
    }
    .footer-info{
        margin: auto;
        width: 50%;
    }
}