*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    list-style: none;
    /* outline: #000 1px solid; */
}


body{
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr auto;
    grid-template-columns: repeat(3, 1fr);
}


.header, footer{
    padding: 15px;
}


.header{
    color: #fff;
    background: #000;
    grid-column: 1 / span 3;
}
.logo--img{
    width: 180px;
    height: 50px;
}
.nav-container{
    float: right;
}
nav div{
    display: inline-block;
}
.nav-content li{
    display: inline-block;
    padding: 15px;
}
.nav-content li:hover{
    background: #f76300;
}
.nav-content a{
    padding: 20px 5px;
    text-decoration: none;
    color: #fff;
}
.nav-content a:hover{
    color: #00f;
}
nav a span{
    padding: 20px 5px;
    color: #D35400;
    text-decoration: none;
}
nav a span:hover{
    color: #00f;
}


main{
    color: #000;
    background: radial-gradient(circle,#eee,#bbb);
    grid-row: 2 / 8;
    grid-column: 1 / span 3;
}
.descripcion-grupo{
    padding:10px;
}
.descripcion-grupo p{
    font-size: 22px;
    text-align: center;
}
.descripcion-grupo b{
    font-size: 22px;
}

h1{
    text-align: center;
    color: #D35400;
    font-size: 28px;
}
.integrante-img{
    margin: 10px;
    /* float: left; */
    width: 190px;
    height: 210px;
}
main h2{
    font-size: 25px;
}
main h3{
    font-size: 20px;
    color: #D35400;
}
.intengrantes{
    padding: 10px;
    height: auto;
    width: 30%;
}
.info-container{
    margin: 20px 0px 0px 10px;
}
.inf-vf{
    color:#f76300;
}


.footer{
    color: #fff;
    background: #000;
    grid-row: 8 / 9;
    grid-column: 1 / span 3;
}
.footer-info li{
    height: auto;
    margin: 20px 0px;
    font-size: 20px;
    text-align: center;
}
.footer ul{
    padding: 0;
}

/*Media Query para mobile -576px*/
@media screen and (max-width: 575px){
    .header{
        height: auto;
        padding: 10px;
    }
    .header nav{
        display: flex;
        flex-wrap: wrap;
    }
    .header .logo{
        margin: auto;
        margin-bottom: 10px;
    }
    .header .logo a{
        margin: auto;
    }
    .header .nav-container{
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
    }
    .header .nav-content{
        display: flex;
        padding: 0;
    }
    .header .nav-content li{
        margin: auto 10px;
        padding: 0;
        background: #f76300;;
        display: flex;
        justify-content: space-around;
    }
    .header .nav-content li a{
        color: #fff;
        margin: auto;
        padding: 10px;
        justify-content: space-around;
    }
    .header .nav-content li a:hover{
        color: #00f;
    }
    .header span{
        font-weight: bold;
        color: #000;
        padding: 10px;
    }

    .integrantes-container{
        display: flex;
        flex-wrap: wrap;
    }
    .integrante-img{
        margin: auto;
    }
    .footer-nav{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-logo{
        margin: auto;
    }
    .footer-info{
        margin: auto;
    }
    .footer-info li{
        margin: auto;
    }
    .footer-nav-container{
        margin: auto;
    }
    .footer-nav-container li{
        margin: auto;
        background: #f76300;
        padding: 0;
    }
    .footer-nav-container li a{
        margin: auto;
        background: #f76300;
        padding: 15px 15px;
    }
}