.container {
  width: auto;
  height: auto;
  margin: auto;
  padding: 10px;
  color: #013e66;
  border-radius: 10px;
  background-image: url("/Grupo-6/imagenes/fondo.jpg");
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(7, auto);
  font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
}

.container__header--mod {
  width: 95%;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #e3f8ff;
}

.container__logo--mod {
  widows: 200px;
  height: 200px;
}

#titulo {
  text-align: center;
}

.header__nav--mod {
  display: flex;
  gap: 15px;
}

.nav__link--mod {
  color: #013e66;
  text-decoration: none;
}

.descripcion {
  width: 95%;
  height: auto;
  margin: auto;
  padding: 10px;
  font-size: 25px;
  background: #e3f8ff;
  border-radius: 10px;
  font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
}

.descripcion__texto--mod {
  text-align: justify;
}

.descripcion__link--mod {
  color: #013e66;
  text-decoration: none;
}

.descripcion__link--mod:hover {
  color: black;
}

#titulo1 {
  color: white;
  text-align: center;
}

.perfil {
  width: 95%;
  height: auto;
  margin: auto;
  padding: 10px;
  font-size: 25px;
  text-align: justify;
  background: #e3f8ff;
  border-radius: 10px;
  font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
}

.perfil__foto--mod {
  width: 30%;
  height: auto;
  float: left;
  margin-right: 10px;
}

.perfil__lista--mod {
  color: blue;
  text-decoration: none;
}

.perfil__mod--Alejandro {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  padding: 10px;
  font-size: 25px;
  text-align: justify;
  background: #e3f8ff;
  border-radius: 10px;
  font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
}

.perfil__foto--mod--Alejandro {
  float: left;
  width: 30%;
  margin-right: 5px;
}

.perfil__parrafo--mod--Alejandro {
  align-items: center;
}

.perfil__link--mod--Alejandro{
  text-decoration: none;
  color: #013e66;
}

.perfil__titulo--mod {
  text-align: center;
}

.container__footer--mod {
  width: 95%;
  height: auto;
  margin: auto;
  padding: 10px;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #e3f8ff;
  font-family: Helvetica, Futura, Arial, Verdana, sans-serif;
}

.container__titulos--mod{
  text-align: center;
}

.container__logo1--mod {
  width: 200px;
  height: 200px;
}

.fa-facebook:hover {
  color: #efefef;
  background: rgb(227, 228, 230);
  background: linear-gradient(
    90deg,
    rgba(227, 228, 230, 1) 0%,
    rgba(1, 1, 246, 1) 100%
  );
}
.fa-facebook {
  padding: 5px;
}
.facebook {
  padding: 10px;
  background: gray;
}
.fa-instagram {
  padding: 12px;
  background: grey;
}
.instagram {
  padding: 12px;
}
.fa-instagram:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 3%,
    rgba(253, 29, 29, 0.717467008797654) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
