* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-principal: linear-gradient(90deg, #3e4424 0%, #7b920a 100%);
  --color-titulos: #f6b900;
  --color-h2: rgb(255, 255, 255);
  --color-parrafo: rgb(15, 14, 14);
  --color-hover:rgb(56, 250, 31);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Aclonica";
}
/* ------------------------------------Header------------------------------------ */
header a:hover{
  color: var(--color-hover);
}
.header {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0px;
  background: var(--color-principal);
}
.header__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: absolute;
  width: 6%;
  left: 2%;
  top: 8%;
  border-radius: 50%;
}
.header_h1 {
  position: absolute;
  width: 10%;
  left: 10%;
  top: 20%;
  font-family: "Aclonica";
  line-height: auto;
  color: var(--color-titulos);
}
nav {
  display: flex;
  flex-direction: row;
  top: 20%;
  padding-bottom: 0;
  padding-right: 10px;
  margin: 10%;
}
.nav a{
  padding: 22% 10%;
  text-decoration: none;
  font-weight: bold;
  font-family: "Aclonica";
  color: var(--color-h2);
}
/* -------------------------Seccion presentacion de la empresa--------------------- */
.descripcion {
  display: flex;
}
.descripcion__img {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
    url("media/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
}
.descripcion__parrafo{
  position: absolute;
  text-align: center;
  color: var(--color-parrafo);
  width: 43%;
  margin: 14% 10% 0 43%;
}
.descripcion__button:hover{
  cursor: pointer;
  box-shadow: 10px 5px 5px;
  transition: 500ms;
  margin-top: 35px;
}
.descripcion__button {
  font-weight: bold;
  font-family: "Aclonica";
  padding: 10px 30px;
  margin: 8%;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 2px 20px rgb(255, 255, 255);
  color: var(--color-h2);
  background: var(--color-principal);
}
/* -----------------------------------seccion presentacion de integrantes---------------------------------- */
.cards {
  width: 100%;
  padding: 8%;
}
.cards_titulo {
  text-align: center;
  color: var(--color-parrafo)
}
.card {
  font-size: 3vh;
  margin-top: 5%;
  display: flex;
  justify-content: normal;
  text-align: justify;
}
.card_img {
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 450px;
}
/* ---------------- presentacion de Dario Bonilla------------------- */
.card_dario {
  padding: 0 25% 0 0;
}
.cards_imgdario {
  background-image: url("media/dario.png");
  padding: 0 0 0 20%;
  margin: 0 8% 0 9%;
}
/* ---------------- presentacion de Yohan Chalaca------------------- */
.card_yohan {
  padding: 0 20% 0 12%;
}
.cards_imgyohan {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 5, 0)),
    url("media/yohan.png");
  padding: 0 0 0 20%;
  margin: 0 5% 0 10%;
}
/* ---------------- presentacion de Leynis Orozco------------------- */
.card_leynis {
  padding: 0 25% 0 0;
}
.cards_imgleynis {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 5, 0)),
    url("media/leynis.png");
  padding: 0 0 0 20%;
  margin: 0 8% 0 9%;
}
/* -----------------------------------------footer------------------------------------------------ */
.footer a:hover{
  color: var(--color-hover);
}
.footer {
  position: absolute;
  width: 100%;
  height: 30%;
  background: var(--color-principal);
}
.footercontainer {
  display: flex;
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footercontainer img {
  position: absolute;
  width: 7%;
  height: auto;
  left: 5%;
  top: 20%;
  border-radius: 50%;
}
.footer_h1 {
  position: absolute;
  width: 30%;
  left: 14%;
  top: 40%;
  color: var(--color-titulos);
}
.footernav a {
  padding: 30% 10%;
  margin-top: 120%;
  text-decoration: none;
  font-weight: bold;
  font-family: "Aclonica";
  color: var(--color-h2);
}
/* --------------------------------Diseño responsive max-width: 980px--------------------------------- */
/* -----------computadora con pantalla pequeña-------------- */
@media only screen and (max-width: 980px){
  /* -----------header---------- */
  .header__logo {
    width: 8%;
    height: auto;
  }
  .header_h1{
    left: 12%;
  }
  /* Seccion presentacion de la empresa*/
  .descripcion__parrafo{
    width: 50%;
    margin: 18% 10% 0 25%;
  }
  /* Seccion presentacion integrantes*/
  .card {
    font-size: 2vw;
  }
  .card_yc {
    padding: 0 0 0 10%;
  }
  .cards_imgleynis {
    padding: 0 5% 0 20%;
  }
  /* --------footer---------- */
  .footercontainer img {
    width: 10%;
    height: auto;
  }
  .footer h1{
    width: 50%;
    left: 20%;
  }
}
/* -----------table-------------- */
 @media only screen and (max-width: 640px) {
  /* -----------header---------- */
  .header img {
    width: 14%;
    height: auto;
  }
  .header_h1{
    left: 20%;
  }
  /* Seccion presentacion de la empresa*/
  .descripcion__parrafo{
    width: 70%;
    margin: 22% 10% 0 15%;
  }
  /* Seccion presentacion integrantes*/
  .card {
    font-size: 2.5vh;
  }
  .card_img {
    height: 150px;
    width: 150px;
  }
  .card_dario {
    padding: 0 10% 0 0;
  }
  .card_yohan {
    padding: 0 6% 0 15%;
  }
  .cards_imgyohan {
    margin: 0 5% 0 6%;
  }
  .card_leynis {
    padding: 0 10% 0 0;
  }
  .cards_imgleynis {
    margin: 0 6% 0 4%;
  }
  /* --------footer---------- */
  .footercontainer img{
    width: 16%;
  }
  .footer h1{
    width: 30%;
    left: 24%;
    top: 30%;

  }
}
/* -----------Dispositivo movil-------------- */
 @media only screen and (max-width: 414px) {
  body{
    width: 100%;
  }
  /* --------Header---------- */
 .header img {
   display: none;
  }
  .header_h1{
    position: absolute;
    width: 50%;
    margin: 0 10%;
    top: 5%;
  }
  nav {
    margin-right: 40%;
    margin-top: 30%;
    font-size: 2vh;
  }
 /* Seccion presentacion de la empresa*/
 .descripcion__parrafo{
  width: 90%;
  margin: 32% 5%;
}
  .descripcion__button:hover{
    margin-top: 150px;
  }
  .descripcion {
    width: 100%;
    height: 55vh;
  }
   /* Seccion presentacion integrantes*/
   .cards {
    margin-top: 60%;
  }
  .card {
    font-size: 2vh;
  }
  .card_img {
    height: 100px;
    width: 320px;
    margin: 0;
  }
  .card_dario {
    padding: 0 5% 0 0;
  }
  .cards_imgdario {
    padding: 0 0 0 5%;
    margin: 0 5% 0 1%;
  }
  .card_yohan {
    padding: 0 0 0 5%;
  }
  .cards_imgyohan {
    padding: 0 0 0 5%;
    margin: 0 5% 0 5%;
  }
  .card_leynis {
    padding: 0 5% 0 0;
  }
  .cards_imgleynis {
    padding: 0 0 0 20%;
    margin: 0 5% 0 1%;
  }
/* ----Footer------ */
.footer {
  width: 100%;
  height: 32%;
  background: var(--color-principal);
}
  .footercontainer img {
    width: 20%;
  }
  .footer_h1{
    margin: 0 5%;
  }
  .footernav a {
    margin-top: 170%;
  }
} 